/* #region Default styles */
body {
  margin: 0;
  padding: 0 0 100px 0;
  font-family: sans-serif;
  overflow-x: hidden; }

.App {
  text-align: center;
  position: relative; }



/* DEMO STYLES */



    .carousel .carousel-status{

opacity: -8;
    }
    .carousel li.slide img{
      height:405px;
    }
    .carousel .thumbs-wrapper{
      margin : 100px;
    }
    .carousel  {
      box-sizing: content-box;
  }
 .thumb .element {
    width:1080px;
}

/* #endregion */
